[submodule "third_parties/kapao"]
	path = third_parties/kapao
	url = https://github.com/wmcnally/kapao
[submodule "third_parties/AGRNav"]
	path = third_parties/AGRNav
	url = https://github.com/jmwang0117/AGRNav.git